<!DOCTYPE html>
<html>
  <head>
    <title>GED</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ asset('bundles/ericharddms/libs/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ericharddms/libs/bootstrap/css/responsive.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ericharddms/libs/FontAwesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ericharddms/libs/jquery.ui.progressbar/jquery.ui.progressbar.min.css') }}">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path("erichard_dms_node_home") }}">GED</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{{ path("erichard_dms_node_home") }}">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      {% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
              <div class="alert{{ type ? ' alert-'~type : '' }} fade in ">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ message|raw }}
              </div>
            {% endfor %}
        {% endfor %}
      {% endif %}

      {% for flashMessage in app.session.flashbag.all %}
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ dump(type) }}
          <strong>Warning!</strong> {{ flashMessage }}
        </div>
      {% endfor %}

      <div class="row-fluid">
        <div class="span3">
          {% block sidebar %}
            {% include 'ErichardDmsBundle:Node:_tree.html.twig' with {'nodes' : node.nodes} %}
          {% endblock %}
        </div>

        <div class="span9">
          <ul class="breadcrumb">
            <li><a href="{{ path('erichard_dms_node_home') }}"><i class="icon-home"></i></a> <span class="divider">/</span></li>
            {% block breacrumb %}
                {% for parent in node.path %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="branches" role="button" data-toggle="dropdown" href="#">{{ parent.name }} <b class="caret"></b></a>
                        {% set siblings = parent.parent is not null ? parent.parent.nodes : roots() %}

                        <ul class="dropdown-menu">
                            {% for sibling in siblings %}
                            <li {% if sibling in node.path %}class="active"{% endif %}><a tabindex="-1" href="{{ path('erichard_dms_node_list', {'node' : sibling.slug }) }}">{{sibling.name}}</a></li>
                            {% endfor %}
                        </ul>
                        {% if not loop.last %}
                        <span class="divider">/</span>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endblock %}
          </ul>
          {% block workspace %}{% endblock %}
        </div>
      </div>

    </div>

    {% block javascripts %}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="{{ asset('bundles/ericharddms/libs/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>

