{% if node is defined %}
<ul class="nav nav-list">

  <li class="nav-header">Actions</li>
  {#% if is_granted('NODE_DOWNLOAD', node) %}
  <li><a class="disabled" href=""><i class="icon-download-alt"></i>Download</a></li>
  {% endif %#}
  {% if is_granted('NODE_EDIT', node) %}
  <li><a href="{{ path('erichard_dms_edit_node', {'node' : node.slug}) }}"><i class="icon-edit"></i>Edit folder</a></li>
  {% endif %}
  {% if is_granted('NODE_ADD', node) %}
  <li><a href="{{ path('erichard_dms_add_node', {'node' : node.slug}) }}"><i class="icon-plus"></i>Add folder</a></li>
  {% endif %}
  {% if is_granted('NODE_DELETE', node) %}
  <li><a href="{{ path('erichard_dms_remove_node', {'node' : node.slug}) }}"><i class="icon-remove"></i>Remove folder</a></li>
  {% endif %}

  {#% if is_granted('MANAGE', node) %}
  <li><a class="disabled" href="#"><i class="icon-lock"></i>Manage permission</a></li>
  {% endif %#}

  <li class="nav-header">Display modes</li>
  {% if node.documents is not empty %}
  <li><a href="{{ path('erichard_dms_node_list', {'node' : node.slug, 'mode' : 'showcase'}) }}"><i class="icon-play-circle"></i>Showcase</a></li>
  {% endif %}
  <li><a href="{{ path('erichard_dms_node_list', {'node' : node.slug, 'mode' : 'gallery'}) }}"><i class="icon-th-large"></i>Gallery</a></li>
  <li><a href="{{ path('erichard_dms_node_list', {'node' : node.slug, 'mode' : 'content'}) }}"><i class="icon-th-list"></i>Content</a></li>
  <li><a href="{{ path('erichard_dms_node_list', {'node' : node.slug, 'mode' : 'table'}) }}"><i class="icon-table"></i>Table</a></li>
</ul>
{% else %}
<ul class="nav nav-list">
  <li class="nav-header">Actions</li>
  <li><a href="#"><i class="icon-plus"></i>Add root</a></li>
</ul>
{% endif %}
