
<ul class="media-list">
{% for node in nodes %}
 <li class="media">
    <a class="pull-left" href="#">
       <i class="icon-folder-close"></i>
    </a>
    <div class="media-body">
      <h4 class="media-heading"> <a href="{{ path('erichard_dms_node_list', { 'node' : node.slug }) }}" title="{{ node.name }}">{{ node.name }}</a></h4>
    </div>
  </li>
{% endfor %}


  {% for document in documents %}
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="{{ thumbUrl(document, parameter('dms.content.image_size')) }}" />
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{ document.name }}</h4>
    </div>
  </li>
  {% endfor %}
</ul>
