
{% set spanValue = (12 / parameter('dms.gallery.items_per_row'))|number_format(0) %}

<div class="row-fluid">
{% for document in documents %}

  <div class="span{{ spanValue }}">
    <a href="{{ path('erichard_dms_show_document', { 'node' : node.slug, 'document' : document.slug }) }}" class="thumbnail" title="{{ document.name }}">
        <img src="{{ thumbUrl(document, parameter('dms.gallery.image_size')) }}" />
    </a>
    <p>{{ document.name }}</p>
  </div>

  {% if loop.index is divisibleby(parameter('dms.gallery.items_per_row')) %}
    </div>
    {% if not loop.last %}<div class="row-fluid">{% endif %}
  {% endif %}

  {% if loop.last %}
    <div class="span{{ spanValue }}">
    {% if is_granted('DOCUMENT_ADD', node) %}
    <a href="{{ path('erichard_dms_add_document', { 'node': node.slug }) }}" class="thumbnail" title="{{ document.name }}">
        <img src="http://placehold.it/{{ parameter('dms.gallery.image_size') }}&text=Add documents" />
    </a>
    {% endif %}

  </div>
  {% endif %}
{% endfor %}
</div>
