<table class="table table-striped table-hover">
{% for node in nodes %}
  <tr>
    <td>
      <i class="icon-folder-close"></i>
    </td>
    <td><h4 class="media-heading"> <a href="{{ path('erichard_dms_node_list', { 'node' : node.slug }) }}" title="{{ node.name }}">{{ node.name }}</a></td>
    <td></td>
  </tr>
{% endfor %}

{% for document in documents %}
  <tr>
    <td >
      <a href="" class="thumbnail" title="{{ document.name }}">
          <img src="{{ thumbUrl(document, parameter('dms.table.image_size')) }}" />
      </a>
    </td>
    <td>{{ document.name }}</td>
    <td></td>
    <td>{{ document.mimeType }}</td>
  </tr>
{% endfor %}
</table>
