<table class="table table-striped table-hover">
{% for document in documents %}

  {% set image = path(
    'erichard_dms_media_show', {
      'dimension' : parameter('dms.list.image_size'),
      'path' : document.filename
    })
  %}

  <tr>
    <td >
      <a href="" class="thumbnail" title="{{ document.name }}">
          <img src="{{ image }}" />
      </a>
    </td>
    <td>{{ document.name }}</td>
    <td>{{ document.size|filesize }}</td>
    <td>{{ document.mimeType }}</td>
  </tr>

{% endfor %}
</table>
