{% extends 'ErichardDmsBundle::layout.html.twig' %}

{% block sidebar %}
  {% include 'ErichardDmsBundle:Node:_tree.html.twig' with {'nodes' : node.nodes} %}
{% endblock %}

{% block breacrumb %}
    {% for parent in node.path %}
        {% if loop.last %}
        <li class="active">
            {{ parent.name }}
        </li>
        {% else %}
        <li>
            <a href="{{ path('erichard_dms_node_list', {'node' : parent.slug }) }}">{{ parent.name }}</a><span class="divider">/</span>
        </li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block workspace %}

    <h1>Add new documents</h1>

    <form class="form-horizontal" action="{{ path('erichard_dms_create_document', {'node' : node.slug}) }}" method="POST" novalidate>

        {{ form_widget(form, {'form_type': 'horizontal'}) }}

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn">Cancel</button>
        </div>
    </form>

{% endblock %}
