{% extends 'ErichardDmsBundle::layout.html.twig' %}

{% block workspace %}

    <h1>Step 1 : Add new document</h1>

    <form class="form-horizontal" action="{{ path('erichard_dms_add_document', {'node' : node.slug}) }}" method="POST" enctype="multipart/form-data" novalidate>
        <input id="filename" type="hidden" name="filename" value="" />
        <input id="token" type="hidden" name="token" value="" />

        <div class="upload-form text-center" id="uploader">
            <p>Please select one file</p>

            <!-- Select & Upload Button -->
            <div>
                <button class="btn" id="pickfiles" href="#">Select</button>
                <button class="btn btn-primary" id="uploadfiles" href="#">Upload</button>
            </div>

            <div id="filelist" class="cb"></div>

            <div id="progressbar"></div>

            <div id="upload-success" class="hide">
                <div class="alert alert-success">
                    <strong>Success!</strong>
                    The file has been succefully uploaded. You can now proceed to next step.
                </div>

                <button type="submit" class="btn btn-success">Next</a>
            </div>

        </div>

    </form>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts output="js/uploader.js" filter="?yui_js"
        'bundles/ericharddms/libs/plupload/js/plupload.full.js'
        'bundles/ericharddms/libs/jquery.ui.progressbar/jquery.ui.progressbar.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {
            var uploader = new plupload.Uploader({
                runtimes : 'html5,flash',
                browse_button : 'pickfiles',
                multi_selection: false,
                max_file_size : '1gb',
                chunk_size : '5mb',
                replace : true,
                container : 'uploader',
                unique_names : true,
                url : '{{ path('erichard_dms_upload_document') }}',
                flash_swf_url : '{{ asset('bundles/ericharddms/libs/plupload/js/plupload.flash.swf') }}',
            });

            $('#uploadfiles').click(function(e) {
                uploader.start();
                e.preventDefault();
            });

            uploader.init();

            uploader.bind('FilesAdded', function(up, files) {
                $.each(files, function(i, file) {
                    $('#filelist').append(
                      '<a class="btn remove" id="' + file.id + '">' + file.name + ' <i class="icon-remove-sign"></a>'
                    );
                });
                up.refresh(); // Reposition Flash/Silverlight
            });

            uploader.bind('QueueChanged', function(up) {
                $('#pickfiles').prop('disabled', true);

            });


            uploader.bind('Error', function(up, err) {
                alert("Error: " + err.code + ", Message: " + err.message + (err.file ? ", File: " + err.file.name : "") + "");
                up.refresh(); // Reposition Flash/Silverlight
            });

            $('#uploader').on('click', 'a.remove',  function(e) {
                uploader.removeFile(uploader.getFile(this.id));
                $('#'+this.id).remove();
                $('#pickfiles').prop('disabled', false);
                e.preventDefault();
            });

            uploader.bind('UploadProgress', function(up, file) {
                var progressBarValue = up.total.percent;
                $('#progressbar').progressbar({
                    value: progressBarValue
                });
                $('#progressbar .ui-progressbar-value').html('<span class="progressTooltip">' + up.total.percent + '%</span>');
            });

            uploader.bind('UploadComplete', function(up, files) {
                $('#upload-success').show();
                $('#filename').val(files[0].name);
                $('#token').val(files[0].target_name);
            });

        });
    </script>
{% endblock %}

