{% extends dms_layout|default('ErichardDmsBundle::layout.html.twig') %}


{% form_theme form _self %}

{% block choice_widget_options %}
{% spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain)|raw }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_options %}

{% block checkbox_widget %}
{% spaceless %}
<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}> {{ help_inline|trans({}, translation_domain)|raw }}
{% endspaceless %}
{% endblock checkbox_widget %}


{% block dms_documents %}

    <h1>Edit document</h1>

    <form class="form-horizontal" action="{{ path('erichard_dms_update_document', {'node' : node.slug, 'document': document.slug}) }}" method="POST" novalidate>

        {{ form_widget(form._token) }}
        {{ form_errors(form) }}

        {{ form_row(form.name, {'form_type': 'horizontal'}) }}
        {{ form_row(form.node, {'form_type': 'horizontal'}) }}
        {{ form_row(form.enabled, {'form_type': 'horizontal'}) }}

        {% for metadata in form.metadatas %}
            {{ form_row(metadata, {
                'form_type': 'horizontal',
                'value' : document.hasMetadata(metadata.vars.name)? document.getMetadata(metadata.vars.name).value : null
            }) }}
        {% endfor %}

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn">Cancel</button>
        </div>
    </form>

{% endblock %}
