{% extends dms_layout|default('ErichardDmsBundle::layout.html.twig') %}

{% block breadcrumb_inner %}
    <li class="current">Link document</li>
{% endblock %}

{% block dms_documents %}

    <h1>Link document</h1>

    <div class="box">
        <div class="box-head">Existing aliases</div>
        <div class="box-body">
            {% if document.aliases|length > 0 %}
            <table cellpadding="0" cellspacing="0" width="100%" class="tDefault">
                {% for alias in document.aliases %}
                <tr>
                    <td>{{ alias.node.name }}</td>
                    <td>
                        <a class="btn btn-small" href="{{ path('erichard_dms_show_document', {'node' : alias.node.slug, 'document': alias.slug }) }}"><i class="icon-search"></i> See</a>
                        {% set path = path('erichard_dms_remove_document', {
                            'node' : alias.node.slug,
                            'document' : alias.slug,
                            'back' : app.request.requestUri
                        }) %}
                        <a class="btn btn-danger btn-small" href="{{ path }}"><i class="icon-remove"></i> Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <div class="box-inner">No aliases</div>
            {% endif %}
        </div>
    </div>


    <form action="{{ path('erichard_dms_link_document', {'node' : node.slug, 'document': document.slug}) }}" method="POST">
    <div class="box">
        <div class="box-head">
            Add an alias {% if target is not null %} in:
                {% for parent in target.path %}
                    {{ parent.name }}{% if not loop.last %} > {% endif %}
                {% endfor %}
                <input type="hidden" name="linkTo" value="{{ target.id }}" />
            {% endif %}
            <button type="submit" {% if target is null or target == document.node %}disabled{% endif %} id="linkDocument" class="btn btn-success btn-small"><i class="icon-plus"></i> Ajouter</button>
        </div>
        <div class="box-body">
            {% set nodes = (target is null)? roots() : target.nodes %}

            <ul id="rootList" class="nav nav-list">
                {% if target is not null and target.parent is null %}
                <li>
                    <a href="{{ path('erichard_dms_link_document', {'node' : document.node.slug, 'document': document.slug}) }}">
                    <i class="icon-reply"></i> Parent folder</a>
                </li>
                {% elseif target is not null %}
                <li>
                    <a href="{{ path('erichard_dms_link_document', {'node' : document.node.slug, 'document': document.slug, 'target': target.parent.slug}) }}"><i class="icon-reply"></i> Parent folder</a>
                </li>
                {% endif %}

                {% if nodes|length > 0 %}
                    {% for node in nodes %}
                    <li id="node_{{ node.id }}">
                        <a href="{{ path('erichard_dms_link_document', {'node' : document.node.slug, 'document': document.slug, 'target': node.slug}) }}">{{ node.name }}</a>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

    </script>
{% endblock %}
