{% extends 'ErichardDmsBundle::layout.html.twig' %}

{% block workspace %}

    <h1>{{ document.name}}</h1>

    <div class="row-fluid">
        <div class="span8">
            <img class="img-polaroid" src="{{ thumbUrl(document, parameter('dms.show.image_size')) }}" alt="{{ document.name }}">
        </div>

        <div class="span4">
            <div class="well">

            <ul class="nav nav-list">
                <li class="nav-header">Actions</li>
                {% if is_granted('DOCUMENT_DOWNLOAD', document) %}
                <li><a href="{{ path('erichard_dms_download_document', { 'node': node.slug, 'document': document.slug }) }}"><i class="icon-download-alt"></i>Download</a></li>
                {% endif %}
                {% if is_granted('DOCUMENT_EDIT', document) %}
                <li><a href="{{ path('erichard_dms_edit_document', { 'node': node.slug, 'document': document.slug }) }}"><i class="icon-edit"></i>Edit</a></li>
                {% endif %}
                {% if is_granted('DOCUMENT_DELETE', document) %}
                <li><a href=""><i class="icon-trash"></i>Delete</a></li>
                {% endif %}
                <li class="nav-header">Partage</li>
                <li><a href=""><i class="icon-envelope"></i>Email</a></li>
                <li><a href=""><i class="icon-external-link"></i>Link</a></li>
            </ul>
            </div>
        </div>
    </div>

    {% if document.hasMetadata('description') %}
    <h3>Description</h3>
    <div class="well">
        {{ document.hasMetadata('description')|raw }}
    </div>
    {% endif %}


{% endblock %}
